/*首页样式*/

.main {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 219px;
}

.focus {
    position: relative;
    width: 721px;
    height: 455px;
    background-color: purple;
    overflow: hidden;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}

.focus ul li {
    float: left;
}

.arrow-l,
.arrow-r {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    font-size: 18px;
    z-index: 2;
}

.arrow-l {
    margin-top: -20px;
    font-family: 'icomoon';
}

.arrow-r {
    right: 0;
    margin-top: -24px;
    font-family: 'icomoon';
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    border: 1px solid #fff;
    margin: 0 3px;
    border-radius: 50%;
}

.current {
    background-color: #fff;
}

.newsflash {
    width: 250px;
    height: 455px;
}

.news {
    height: 163px;
    border: 1px solid #ccc;
}

.news_hd {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted #ccc;
    font-family: 'icomoon';
    padding: 0 15px;
    font-size: 14px;
    color: #333
}

.news_hd a {
    float: right;
    font-size: 12px;
    color: #ccc;
}

.news_bd {
    padding: 10px 0 0 15px;
}

.news_bd li {
    height: 23px;
}

.lifeservice {
    overflow: hidden;
    height: 208px;
    border: 1px solid #ccc;
    border-top: none;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice li {
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.lifeservice li a {
    display: block;
    overflow: hidden;
    height: 100%;
}

.lifeservice li p {
    text-align: center;
}

.service_ico {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/icons.png) no-repeat;
    margin: 10px auto;
}

.service_ico_hf {
    background-position: -17px -16px;
}

.service_ico_jp {
    background-position: -79px -16px;
}

.hot {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 15px;
    background: url(../images/jian.jpg) no-repeat;
}

.service_ico_dy {
    background-position: -141px -16px;
}

.service_ico_yx {
    background-position: -206px -16px;
}

.service_ico_cp {
    background-position: -17px -88px;
}

.service_ico_jy {
    background-position: -80px -88px;
}

.service_ico_jd {
    background-position: -141px -88px;
}

.service_ico_hc {
    background-position: -206px -88px;
}

.service_ico_zc {
    background-position: -17px -159px;
}

.service_ico_lc {
    background-position: -79px -159px;
}

.service_ico_lp {
    background-position: -141px -156px;
}

.service_ico_bt {
    background-position: -207px -159px;
}

.bargain {
    height: 75px;
    margin-top: 5px;
}


/*推荐模块*/

.recommend {
    height: 163px;
    margin-top: 10px;
}

.recom_hd {
    width: 200px;
    height: 163px;
    text-align: center;
    background-color: #5c5251;
}

.recom_hd img {
    margin: 30px 0 10px 0px;
}

.recom_hd h3 {
    font-size: 18px;
    color: #fff;
    font-weight: normal;
}

.recom_bd {
    float: left;
    width: 1000px;
    height: 163px;
    background-color: #ebebeb;
}

.recom_bd li {
    float: left;
    width: 249px;
    height: 145px;
    margin-top: 10px;
    border-right: 1px solid #ddd;
    background-color: #ebebeb;
}


/* .recom_bd a {
    display: block;
    width: 100%;
    height: 100%;
}

.recom_bd img {
    width: 100%;
    height: 100%;
} */

.recom_bd .last {
    border-right: 0;
}


/*猜你喜欢*/

.like {
    height: 264px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.like_hd {
    position: relative;
    width: 1200px;
    height: 30px;
}

.like_hd h3 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: #333;
    font-weight: normal;
    margin-bottom: 10px;
}

.like_hd a {
    position: absolute;
    top: 0;
    right: 20px;
    margin-bottom: 10px;
}

.like_hd_icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/icons.png) no-repeat -421px -111px;
}

.like_bd {
    width: 1200px;
    height: 234px;
    border: 1px solid #ededed;
}

.like_bd li {
    float: left;
    width: 200px;
    height: 234px;
}

.like_bd img {
    display: block;
    width: 200px;
    height: 160px;
    margin: 0 auto;
}

.like_bd p {
    margin-left: 35px;
    line-height: 20px;
    border-right: 1px solid #ededed;
}

.like_bd span {
    font-size: 18px;
    color: #df3033;
}


/*有趣区*/

.fun_hd h3 {
    font-size: 18px;
    color: #333;
    font-weight: normal;
}

.fun_bd {
    width: 1202px;
    height: 405px;
    margin-bottom: 30px;
}

.fun_bd li {
    float: left;
    /*background-color: pink;*/
    border-top: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.fun_bd h3 {
    line-height: 39px;
    border-bottom: 1px dashed #ededed;
    text-align: center;
    margin: 0 20px;
    font-size: 14px;
    color: #333;
}

.fun_bd_item {
    border-bottom: 1px solid #ededed;
}

.fun_bd_item .border_right {
    display: inline-block;
    border-right: 1px solid #ededed;
}


/*楼层区*/

.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list li {
    float: left;
}

.tab_list li a {
    margin: 0 15px;
}

.box_bd {
    height: 360px;
    margin-bottom: 20px;
}


/*图片过渡效果时，不压到边框*/

.box_bd li {
    overflow: hidden;
}

.w209 {
    width: 209px;
    background-color: #f9f9f9;
}

.w329 {
    position: relative;
    width: 329px;
    background-color: #aed6d8;
}

.w219 {
    width: 219px;
    border-right: 1px solid #ededed;
}

.w220 {
    width: 220px;
    border-right: 1px solid #ededed;
}

.tab_con li {
    float: left;
    height: 360px;
}

.tab_con_list li {
    width: 86px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ededed;
    margin-left: 10px;
    text-align: center;
}

.tab_con_list_circle {
    position: absolute;
    left: 142px;
    bottom: 20px;
}

.tab_con_list_circle li {
    width: 10px;
    height: 10px;
    background-color: #3e3e3e;
    border-radius: 50%;
    margin-right: 7px;
    cursor: pointer;
}

.tab_con_list_circle li:hover {
    background-color: #fff;
}

.tab_con_item {
    border-bottom: 1px solid #ededed;
}


/*品牌栏*/

.Brand_nav {
    width: 1200px;
    height: 65px;
    margin-bottom: 30px;
}

.Brand_nav ul {
    margin: 0 auto;
}

.Brand_nav li {
    float: left;
    height: 65px;
    border-right: 1px dotted #ccc;
}

.Brand_nav .border_none {
    border-right: none;
}


/*图片过渡效果*/

.box_bd img {
    transition: all .2s;
}

.box_bd img:hover {
    margin-left: 8px;
}


/*电梯导航*/

.fixedtool {
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -666px;
    width: 66px;
    display: none;
}

.fixedtool li {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}

.fixedtool li:hover {
    background-color: #c81623;
    color: #fff;
}

.fixedtool .current {
    background-color: #c81623;
    color: #fff;
}